@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');


#img1{
    width: 140px;
    display: block;
    margin: 10px auto;
}

header{
    text-align: center;
}

body{
    font-family: 'Caudex', serif;
    width: 960px;
    margin: 0 auto;
    border: solid black;
    border-width: thin;
    background-color: #fad3db9f;
    background-image: black;
}

#dv{
    float: right;
    top: 0;
}

a{
    text-decoration: none;
}
#i1{
    float: left;
    margin-right: 30px;
    
}

#i2{
    float: right;
}

ul{
    list-style-type: square;
}


a:hover {
    background-color: lightblue;
    color: white;
  }

  #c1 li:nth-child(even) {
    background-color: lightblue;
    background-size:cover;
    color: #fff;
  }

  #c2 li:nth-child(even) {
    background-color: lightblue;
    background-size: contain;
    color: #fff;
    
  }

  #c2{
      padding-bottom: 40px;
  }
   
  #sec{
      margin-top: 170px;
      margin-bottom: 120px;
  }
  
  #sec1{
      float: right;
      width: fit-content;
  }

  #sec2{
      width: fit-content;
      margin-right: 50px;
      margin-bottom: 120px;

  }

  #sec3{
      display: block;
      text-align:left; 
      margin-bottom: 120px;
      margin-right: 50px;
      right: 50px;
      float: left;
  }
  
  footer{position: fixed;
  right: 10px;
  bottom: 0;
  background-color: lightblue;
  color: white;
  text-align: right;
  width: fit-content;
  }

  #sec4{
      bottom: 0%;
      right: 50px;
      width: fit-content;
  }

  #sec5{
      background-color: #ecc3cb4f;
  }